body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-view {
  min-height: 56.6vh !important;
}

.gallery {
  height: 31em;
  object-fit: cover;
  border-radius: 0 !important;
}

.banner {
  width: 100vw;
  background-image: url("./images/banner-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
}

.banner-text {
  text-shadow: 4px 3px 9px #fff;
}

.btn-success {
  padding: 0.6em 1em;
  color: #f1de86;
  border: 0 !important;
  background-color: black !important;
}

.btn-success:hover {
  color: #000000;
  background-color: #f1de86 !important;
}

.btn {
  border-radius: 0px !important;
}

.testimonials {
  background-color: #000000;
}

.footer {
  background-color: #dddddd !important;
}

.footer-link {
  color: #75663b;
}

.footer-link:hover {
  text-decoration: none;
  color: #000000;
}

.navbar {
  background-color: #e0dabd !important;
}

.card {
  border-radius: 0px !important;
  border: 1px solid black;
}

.btn-primary {
  background-color: #f1de86 !important;
  border: 0 !important;
  color: #000000 !important;
}

.btn-primary:hover {
  background-color: #75663b !important;
  color: #fff !important;
}

.audition {
  min-height: 56.5vh !important;
}

.alert-danger {
  border-radius: 0 !important;
  background-color: #fad3d3;
}

.image-display {
  height: 15em;
  margin-bottom: 1em;
}
